
.container {
    background: #E5E5E5;
    margin-top: 20px;
    border: 2px solid #E5E5E5;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 15px;
    width: fit-content;
}

.coll {
    display: inline-block;
    background: white;
    border: 0px solid #E5E5E5;
    height: 20px;
    width: 30px;
    margin: -6px;
}

.line-color{
    padding-top: 10px;
}

.coll-rep {
    display: inline-block;
    background: #E52330;
    border: 1px solid #E5E5E5;
    height: 50px;
    width: 50px;
}

.choose{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#clean{
    display: inline-block;
    float: right;
    margin-top: 8px;
    border: 1px solid;
    border-radius: 10%;
    background: #18A3D2;
    border-color: #18A3D2;
    color: #6C757D;
}

.current{
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.line{
    
}

.container-current{
    display: inline-block;
    position: fixed;
    top: 0;
    right: 30px;
}

.save{
    display: inline-block;
    position: fixed;
    top: 0;
    left: 75px;
}

.buttonsSaveLoad{
    display: block;
    width: 150px;
    margin: 20px;
    background: #18A3D2;
    border-color: #18A3D2;
    border-radius: 10px;
    color: #6C757D;
}
p{
    margin-bottom: 0px;
}

.hide{
    display: none;
}

#inputSave{
    display: block;
    width: 190px;
}

.alert{
    width: auto;
    height: auto;
}

#red{
    background: red;
}

#blue{
    background: blue;
}

#green{
    background: green;
}

#yellow{
    background: yellow;
}

#aqua{
    background: #00FFFF;
}

#lime{
    background: #00FF00;
}

#seagreen{
    background: #2E8B57;
}

#magenta{
    background: #FF00FF;
}

#white{
    background: white;
}